@using finalProject.Models
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_ClientView.cshtml";
    AdvSumModel newAdvertisements = ViewBag.NewAdvs;
}

<div class="row">
    <div class="col-lg-6">

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Image</h3>
                </div>

            </div>
            <div class="panel-body">
                <img src="@Model cla" />
            </div>
        </div>
    </div>
</div>
