<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
     <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div style="text-align:center;background-color:orange;font-size:45px;">
                        <p>OLX Online Buying And Selling </p>
                    </div>
                    <div>
                        <pre>
                       Hi Sir/Madam
                           We are very thankuful to you for joining the OXL for online buting and selling you project virtually. These are 
                            our rule and condition that before the approavel we first checkout Use's Posts. So Accodirng to our Rules and Regulation 
                            we have checked and decided to infrom you please correct you post
                              Click <a href="@ViewBag.ConfirmationLink">Click Here for the Updatation of your post</a>
                     </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
