<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12">
                <div style="text-align:center;background-color:orange;font-size:45px;">
                    <p>OLX Online Buying And Selling </p>
                </div>
                <div>
                    <pre>
                       Hi Sir/Madam
                           OLX provie you online buting and selling plateform where you can buy projucts as well as sell,
                           We need to Verify your Email Address for complete your Registration!
                              Click <a href="@ViewBag.ConfirmationLink">Here</a>
                     </pre>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
